{
  "bracketSpacing": false,
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": "app/translations/*.ts",
      "excludeFiles": "app/translations/index.ts",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
